{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBlog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
     
<body class="bg-light d-flex flex-column min-vh-100">
    
    <!-- Area do Menu -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">🚀 DevBlog</a> 
                <div class="collapse navbar-collapse">            
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sobre_nos' %}">Sobre</a>
                        </li>
                       {% for categoria in categorias %}
                    <li>
                        <a href="#">{{ categoria.nome }}</a>
                    </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
    
        
        <!-- Area Principal -->
    <main class="container my-5"> 
        {% block content %}
        <!-- Aqui vai o conteudo das outras paginas -->
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-4 mt-5">
        <p class="mb-0"> © 2026 Desenvolvido pela Turma da Trilha Python</p>
    </footer> 
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>